:root {
  --primary-color: #003366;   /* Navy Blue */
  --accent-color: #F4C430;    /* Gold */
  --bg-color: #FFFFFF;        /* White */
  --text-color: #333333;      /* Dark Gray */
}
body {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin: 0; backround: #f4f6f8
}
header {
  background: #003366;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
.hero {
  padding: 40px;
  text-align: center;
  background: white;

}

