body {font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;margin: 0; backround: #f4f6f8
}
header {
  background: #003366;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}
.hero {
  padding: 40px;
  text-align: center;
  background: white;
}